.header--primary {
  width: 100vw;
  position: fixed;
}

.header--bg {
  background: #262626;
}

.header--bg--secondary {
  background: #414141;
}

.header__container {
  max-width: 1400px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 40px;

  font-family: "Poppins";
  font-size: 1rem;
  color: white;
  letter-spacing: 0.025rem;
}

.header__container.secondary {
  padding: 20px 10px;
  display: none;
}

.header__container.secondary.active {
  display: block;
}

.header__container.secondary .header__menu {
  gap: 40px;
}

.header__nav--primary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav--secondary {
  justify-items: center;
}

.header__menu {
  justify-content: center;
  display: flex;
  gap: 20px;
}

.header__menu a:hover {
  color: #e9e9e9;
}

.header__nav--primary a {
  padding: 20px 20px;
}
