body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #e0e3e5;
}

body::-webkit-scrollbar-thumb {
  background-color: #063179;
  border-radius: 20px;
  border: 3px solid #e0e3e5;
}
