@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ROboto';
}

body{
    background-color: #ccc;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal{
    height: 622px;
    width: 1100px;
    background: #F1F5F9;
    position: fixed;
    border-radius: 30px;
    overflow: hidden;
    z-index: 5;
}

.modal .modal__boxBlue{
    width: 100%;
    height: 42%;
    background: linear-gradient(94.35deg, #063179 27.47%, #3E81F0 96.49%);
    border-radius: 0 0 0 90px;
    overflow: hidden;
    position: relative;
}

.modal__boxBlue .boxBlue__Description{
    position: absolute;
    color: white;
    top: 40px;
    font-size: 1.3rem;
    font-weight: bold;
    left: 550px;
    user-select: none;
}
.modal__boxBlue .boxBlue__title{
    height: 100%;
    width: 300px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.5rem;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    color: white;
    user-select: none;
}

.modal__boxBlue .boxBlue__close{
    position: absolute;
    top: 40px;
    right: 30px;
    height: 30px;
    width: 80px;
    display: flex;
    justify-content: space-between;

}

.boxBlue__close button{
    height: 30px;
    width: 30px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.boxBlue__close button:nth-child(1){
    background-image: url('../../../../assets/svg/min.svg');
}

.boxBlue__close button:nth-child(2){
    background-image: url('../../../../assets/svg/close.svg');

}

.modal form .modal_data{
    height: 492px;
    width: 750px;
    background-color: #fff;
    position: absolute;
    top: 100px;
    right: 30px;
    padding: 20px;
    border-radius: 20px;
}

.modal::after{
    content: '';
    width: 220px;
    height: 220px;
    position: absolute;
    top: 300px;
    left: 55px;
    background-image: url(../../../../assets/img/PontoForteSenFundo.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}

.modal .modal_buttons{
    width: 250px;
    left: 40px;
    top: 550px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.modal .modal_buttons button{
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: content-box;
    padding: 6px 12px;
    border:  2px solid rgba(0, 0, 0, 0) ;
    background-color: #E9E9E9;
    color: #063179;
    border-radius: 10px;
    cursor: pointer;
}

.modal .modal_buttons button:nth-child(1){
    background: linear-gradient(157.51deg, #063179 24.07%, #195D9B 78.56%);
    color: #E9E9E9;
}

.modal .modal_buttons button:nth-child(1):hover{
    background: #063179;
    border: 2px solid #063179;
}

.modal .modal_buttons button:nth-child(2){
    border: 2px solid #063179;
}

.modal .modal_buttons button:nth-child(2):hover{
    background: #063179;
    color: #E9E9E9;
}

form .modal_data{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 25px;
    text-transform: uppercase;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
}


form .modal_data div label:not(#activity){
    display: block;
    color: #6A6F74;
    font-family: 'Roboto';
    margin-bottom: 3px;
    user-select: none;
}

form .modal_data div input:not([type="checkbox"]){
    background-color: #E5E8EE;
    height: 24px;
    width: 100%;
    display: flex;
    border-radius: 4px;
    align-items: center;
    color: #282a2c;
    padding-left: 5px;
    font-size: .8rem;
    border: 1px solid #BEC3CE77;
    font-family: 'Roboto';
    user-select: all;
}

form .modal_data div input:not([type="checkbox"]):focus, textarea:focus{
    outline: 0;
}

/* form .modal_data div input:not([type="checkbox"]):invalid, textarea:invalid{
    border: solid 1px red;
} */

form .modal_data div:nth-child(1){
    grid-column: 1/3;
}

form .modal_data div:nth-child(18){
    grid-column: 1/3;
    grid-row: 7/9;
}

form .modal_data div:nth-child(18) textarea{
    background-color: #E5E8EE;
    height: 80%;
    width: 100%;
    padding: 5px;
    display: block;
    color: #282a2c;
    font-size: .8rem;
    border: 1px solid #BEC3CE77;
    border-radius: 4px;
    font-family: 'Roboto';
    user-select: all;
    resize: none;
}


.forminput__checkbox {
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 600;
    color: #6A6F74;
    font-family: 'Roboto';
}

.forminput__checkbox label{
    margin-top: 15px;
}

form .modal_data div #activity{
    color: red;
    font-family: 'Roboto';
    margin-bottom: 3px;
}

form .modal_data div #activity.label_ativo{
    color: #3E81F0;
}

input[type="checkbox"] {
    position: relative;
    width: 60px;
    height: 30px;
    margin: 17px 10px 10px 0px;
    outline: none;
    background:  #ccc;
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: 20px;
}
  
input[type="checkbox"]:checked {
    background: #3E81F0;
}
  
input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background: red;
    border-radius: 20px;
    transform: scale(0.98, 0.96);
    transition: 0.5s;
}
  
input[type="checkbox"]:checked::before {
    left: 32px;
    background:#ccc;
}