.stock-control--container {
  display: flex;
  flex-direction: column;
  gap: 35px;

  padding: 40px 40px 0 40px;
  margin-left: 100px;
}

.stock-control--container > img {
  width: 750px;
  position: absolute;
  display: block;
  top: 0;
  left: 100px;
  z-index: -3;
}

.stock-control--container header {
  display: flex;
  gap: 30px;
  justify-content: end;
}

.header__input {
  max-width: 400px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 9fr 1fr;
  transition: 0.2s ease-in-out;
  background-color: #e0e3e5;
  border: 1px solid #e0e3e5;

  display: none;
}

.header__input.active {
  display: grid;
  grid-template-columns: 9fr 1fr;
}

.header__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header__svg img {
  max-width: 20px;
}

.header__input input {
  padding-left: 15px;
  background: none;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 0.825rem;
  color: #3c4145;
}

.header__input input::placeholder {
  color: #8c9197;
}

.header__input:hover {
  background-color: #f0f1f2;
}

.stock-control--container nav {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;

  color: #53585d;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.15;

  border-bottom: 2px solid #7f95bb;
}

.header__input input[type="number"]::-webkit-outer-spin-button,
.header__input input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

nav .filter__search-type {
  color: #ffffff;
  display: flex;
  gap: 30px;
  padding-bottom: 10px;
}

nav .filter__search-type div {
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: 0.3s;
}

nav .filter__search-type div:hover {
  color: #e0e3e5;
}

nav .filter__search-type div.active {
  border-color: #ffffff;
}

nav .filter__search-type div.active:hover {
  border-color: #e0e3e5;
}

nav .filter__search-checkbox {
  display: flex;
  gap: 10px;
  position: relative;
}

nav .filter__search-checkbox input {
  width: 22px;
  height: 22px;
  border-radius: 50px;
}

.filter__search-checkbox > label {
  transition: 0.3s;
}

.filter__search-checkbox:hover > label {
  color: #5e6368;
}

.filter__search-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.3rem;
  color: #262626;
}

.filter__search-checkbox input[type="checkbox"] {
  position: relative;
  width: 80px;
  height: 35px;
  outline: none;
  background: linear-gradient(45deg, #e0e3e5, #8c9197);
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.2),
    5px 5px 10px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px rgba(255, 255, 255, 0.2),
    inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.filter__search-checkbox input[type="checkbox"]:checked {
  background: linear-gradient(45deg, #3e5f97, #063179);
}

.filter__search-checkbox input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 29px;
  height: 29px;
  background: linear-gradient(45deg, #3e5f97, #063179);
  border-radius: 20px;
  transform: scale(0.98, 0.96);
  transition: 0.5s;
}

.filter__search-checkbox input[type="checkbox"]:checked::before {
  left: 48px;
  background: linear-gradient(45deg, #e0e3e5, #8c9197);
}

.stock-control--container .buttons {
  display: flex;
  justify-content: end;
  gap: 32px;
}

.stock-control--container .buttons a {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
}

.stock-control--container section .btn-register {
  padding: 12px 20px 10px 20px;
  color: #ffffff;
  background: linear-gradient(45deg, #063179, #3e81f0);
}

.stock-control--container section .btn-edit {
  background: linear-gradient(45deg, #063179, #3e81f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border: 1px solid #063179;
}

.stock-control--container section .btn-register:hover {
  color: #ffffff;
  background: linear-gradient(45deg, #163e82, #7089b3);
}

.stock-control--container section .btn-edit:hover {
  background: linear-gradient(45deg, #163e82, #7089b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border: 1px solid #163e82;
}

.search-result {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  gap: 10px;
  font-size: large;
}

.results {
  width: 100%;
  height: 65vh;
  background-color: #e0e3e5;
  border-radius: 20px 0 0 20px;
  overflow-y: scroll;
  position: relative;
}

.results div:first-child {
  margin-top: 20px;
}

.results div:last-child {
  margin-bottom: 20px;
}

.results::-webkit-scrollbar {
  width: 12px;
}

.results::-webkit-scrollbar-track {
  background: #e0e3e5;
}

.results::-webkit-scrollbar-thumb {
  background-color: #063179;
  border-radius: 20px;
  border: 3px solid #e0e3e5;
}

.column-name span:nth-child(1) {
  color: #ffffff;
}

.search-result .grid {
  display: grid;
  grid-template-columns: 1fr 10fr 2fr 1fr 2fr 2fr;
  border-radius: 5px;
}

.search-result .grid span:nth-child(1) {
  text-align: left;
  margin-left: 10px;
}

.results div .results__row {
  border-radius: 5px;
  color: #000;
  background-color: #f0f1f2;
  margin: 10px 20px 0 20px;
  height: 60px;
  box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.25);
  position: relative;
  display: none;
}

.results div .results__row.active {
  display: grid;
  grid-template-columns: 1fr 10fr 2fr 1fr 2fr 2fr;
}

.results div .results__row span:nth-child(2) {
  text-align: left;
  margin-left: 10px;
}

.search-result span {
  margin: auto 0;
}

.column-name {
  margin: 0 36px 0 20px;
  height: 40px;
  font-size: 1.25rem;
  color: #53585d;
}

.results div .results__row:nth-child(n + 2) {
  margin-top: 10px;
}

.results .results__row--details {
  background-color: #f0f1f2;
  margin: 10px 10px 10px 10px;
  padding: 30px 20px 30px 80px;
  height: 260px;
  box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-transform: uppercase;
  color: #757a80;
  font-size: 1.125rem;
  display: none;
  position: relative;
}
.results .results__row--details.active {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: left;
  align-items: center;
  gap: 20px;
}

.results .results__row--details div {
  margin: 0;
}

.results .results__row--details div:nth-child(1) {
  grid-column: 1/3;
}

.results .results__row--details div:nth-child(2) {
  grid-column: 3/5;
}

.results .results__row--details div:nth-child(5) {
  grid-column: 3/5;
  grid-row: 2/3;
}

.results .results__row--details div:nth-child(8) {
  grid-column: 3/5;
  grid-row: 3/4;
}

.results .results__row--details div:nth-child(9) {
  grid-column: 5/6;
  grid-row: 1/3;
  justify-self: end;
  align-self: flex-start;
  color: #365893;
  font-size: 1.25rem;
  font-weight: 600;
}

.results .results__row--details > div:last-child {
  grid-column: 5/6;
  grid-row: 3/4;
  justify-self: end;
  align-self: flex-end;
}

.results .results__row--details > div:last-child a {
  background: linear-gradient(45deg, #3e5f97, #063179);
  padding: 10px 20px;
  font-size: 1.25rem;
  border-radius: 5px;
  color: #ffffff;
}

.results .results__row--details div div {
  background-color: #d1d5d8;
  border-radius: 5px;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  color: #070c10;
  margin-top: 4px;
}

.results__content {
  position: relative;
}

.results .detail {
  display: none;
}

.results .detail.active {
  display: block;
  z-index: 1;
  top: 10px;
  left: 25px;
  font-size: 1.625rem;
  font-weight: 600;
  position: absolute;
}

.column-name.column-name-code::before {
  content: "Código";
  color: #ffffff;
  margin: auto 0;
  font-size: 1.25rem;
}

.column-name.column-name-internal-code::before {
  content: "Interno";
  color: #ffffff;
  margin: auto 0;
  font-size: 1.25rem;
}

.inactive-0 {
  background-color: #9DAECB !important;
}